[submodule "src/PokkerService"]
	path = src/PokkerService
	url = https://github.com/FishTechnology/PokkerService.git
[submodule "src/PokkerBFF"]
	path = src/PokkerBFF
	url = https://github.com/FishTechnology/PokkerBFF.git
[submodule "src/PokkerUI"]
	path = src/PokkerUI
	url = https://github.com/FishTechnology/PokkerUI.git
[submodule "src/PokkerDb"]
	path = src/PokkerDb
	url = https://github.com/FishTechnology/PokkerDb.git
